.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: #cccdcf;
    -fx-text-inner-color: white;
    -jfx-focus-color:#4059a9;
    -jfx-unfocus-color: WHITE;
}

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: blue;
     -fx-text-fill: white;
}